body{
	font-family: "Trebuchet MS", sans-serif;
	background: linear-gradient(175deg, #f2990f, #000000, #f28900, #ed8b0b, #000000, #000000);
	background-size: 400% 400%;

	-webkit-animation: AnimationName 55s ease infinite;
	-moz-animation: AnimationName 55s ease infinite;
	-o-animation: AnimationName 55s ease infinite;
	animation: AnimationName 55s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

.demoHeaders {
}
#dialog-link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
}
#dialog-link span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}
#icons {
	margin: 0;
	padding: 0;
}
#icons li {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
	list-style: none;
}
#icons span.ui-icon {
	float: left;
	margin: 0 4px;
}
.fakewindowcontain .ui-widget-overlay {
	position: absolute;
}
select {
	width: 200px;
}
.header{
	background-color:orange;
  font-size:xx-large;
	padding-left: 10px;
	padding-bottom: 7px;
	padding-top: 3px;
	font-weight: bold;
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	BORDER-BOTTOM: 2px outset black;
}
.sideBarContainer{
	/*
	border: 2px solid black;
	border-radius: 10px;
	*/
  padding: 5px;
	margin-top: 50px;
}
.firstSubCat{
	width: 300px;s
}

.staticPanel{
 /*display:block;*/
	vertical-align: top;
	border: 4px outset gray;
	border-radius: 20px;
	margin: 10px;
	padding: 10px;
	width: 350px;
}
.staticPanelControls{
    display: flex;
}
.staticPanelButton{
	float:right;
}
.panelName{
	    text-align: center;
			size: inherit;
			border: 2px black solid;
			background: orange;
			font-size: larger;
			color: white;
			font-weight: 550;
			width: 55%;
			margin-right: 5px;
}
ul{
 	list-style-type: none;
 	-webkit-padding-start: 0 !important;
 }
.secondSubCat{

}
.spanButton{
	border: 4px outset orange;
	font-weight: bold;
	padding: 8px;
	width: 100%;
	text-align: center;
}
.workStation{
	border: 7px inset orange;
	border-radius: 10px;
	position: fixed;
  width: 98%;
  bottom: 5px;
  left: 5px;
  height: 150px;
}
