body{
	font-family: "Trebuchet MS", sans-serif;
	margin: 50px;
}
.demoHeaders {
}
#dialog-link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
}
#dialog-link span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}
#icons {
	margin: 0;
	padding: 0;
}
#icons li {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
	list-style: none;
}
#icons span.ui-icon {
	float: left;
	margin: 0 4px;
}
.fakewindowcontain .ui-widget-overlay {
	position: absolute;
}
select {
	width: 200px;
}
.header{
	background-color:orange;
	margin-left: -50px;
	margin-top: -50px;
}
.sideBarContainer{
	border: 2px solid black;
	border-radius: 10px;
  padding: 5px;

}
.firstSubCat{
	width: 300px;s
}

.staticPanel{
 /*display:block;*/
	vertical-align: top;
}
.staticPanelControls{
	/*display: flex;*/
}
.staticPanelButton{
	float:right;
}
.panelName{
	    text-align: center;
			size: inherit;
			border: 2px black solid;
			background: orange;
			font-size: larger;
			color: white;
			font-weight: 550;
}
ul{
 	list-style-type: none;
 	-webkit-padding-start: 0 !important;
 }
.secondSubCat{

}
.spanButton{
	border: 4px outset orange;
	font-weight: bold;
	padding: 8px;
	width: 100%;
	text-align: center;
}
